@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(225, 225, 225);

}

.section {
  height: 50vh;
  padding: 1rem;
  margin: 0rem auto;
}

.nico-background {
  background-image: url('/assets/nico.jpg');
  background-position: calc(100% - 3rem) calc(100% + 14rem);
  background-repeat: no-repeat;
  background-size: cover;
}