@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(225, 225, 225);

}

.section {
  height: 50vh;
  padding: 1rem;
  margin: 0rem auto;
}

.nico-background {
  background-image: url('/assets/nico.jpg');
  /* background-position: calc(100% - 3rem) calc(100% + 14rem); */
  background-repeat: no-repeat;
  background-size: cover;
}

@media (width <= 485px) {
  .nico-background {
    background-position: calc(80% + 7rem) calc(100%);
  }
}

@media (485px < width <= 640px) {
  .nico-background {
    background-position: calc(80% + 1rem) calc(100%);
  }
}

@media (640px < width <= 768px) {
  .nico-background {
    background-position: calc(80% - 1rem) calc(100%);
  }

  .logoNet {
    width: 3rem !important;
    height: 3rem !important; 
  }
}

@media (768px < width <= 1024px) {
  .nico-background {
    background-position: calc(80% - 7rem) calc(100%);
  }
  .logoNet {
    width: 3rem !important;
    height: 3rem !important; 
  }
}

@media (width > 1024px) {
  .nico-background {
    background-position: calc(80% - 16rem) calc(40%);
  }
  .logoNet {
    width: 3rem !important;
    height: 3rem !important; 
  }
}

.slideBtn {
    padding: 5%;
    /* width: 4rem; */
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: black;
    border: none;
    cursor: pointer;
    text-align: center;
}


.slideBtn:hover {
  background-color: #24243e;
}

.prevButton {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.nextButton {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  
}

.slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.wheelTitle {
  color: black;
  background-image: linear-gradient(100deg,rgb(175, 247, 66) 0%,rgb(251, 180, 39) 60%,hsla(22,0%,0%,1) 90%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.parallaxcChild {
  padding: 1rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}


@media (width <= 768px) {
  .svgSlide {
    width: 0.85rem;
    height: 0.85rem;
  }

  .slideBtn {
    padding: 2%;
  }

  .logoNet {
    width: 2rem;
    height: 2rem;
  }
}

@media (768px < width <= 1024px) {
  .svgSlide {
    width: 1rem;
    height: 1rem;
  }
  .slideBtn {
    padding: 2%;
  }

}

@media (width > 1024px) {
  .svgSlide {
    width: 1.3rem;
    height: 1.3rem;
  }
  .slideBtn {
    padding: 2%;
  }
}